{extend name="layout" /}
{block name="banner"}
<ol class="breadcrumb sider-margin">
    <li><a href="{:url('Index/index')}">网站首页</a></li>
    <li class="active">关于博客&nbsp;|&nbsp;关于我</li>
</ol>
{/block}
{block name="left"}
<div class="about-all">
    <h4>关于我</h4><hr>
    <div class="about">
        <p><img class="image-light about-img thumbnail" src="/static/home/img/my.png"></p>
        <p><strong>姓名</strong>：shensai</p>
        <p><strong>网名</strong>：shem</p>
        <p><strong>说明</strong> ：2015年开始接触代码-C语言,2016年学习前端,java,<br/>2017年学习了javaweb、php、python,至今快3年了.仍然是一个不折不扣菜鸟,喜欢在网络上寻找存在和分享自己的学习和经验.</p>
        <p><strong>喜欢的话</strong>：我思故我在。</p>
        <p><strong>想工作的岗位</strong>：前端工程师、php工程师、python、大数据。</p>
    </div>
    <div class="about-love">
        <h4>关于shemblog</h4><hr>
        <p><strong>由来</strong>：shemblog原始版本来源于<a href="http://www.loveteemo.com">青春博客</a>，2016年初开始学习前端时就打算搭建自己的网站，当时利用GitHub搭建了几个静态页面，维护起来，很差劲，网速受限。2017年想重新购买域名开始搭建，在学习thinkphp5的过程中已经完成一个简陋的blog系统，当时忙于各种竞赛。暂停了一段时间。2018年，所以的比赛都结束了，钟玉婷、有时间了，开始购买阿里服务器，购买域名，备案。感觉自己之前的博客学习价值有限。索性网站自己找一个自己改，最先找的是<a>老张博客</a>，刚学习它的时候，觉得他该有的功能都有，逻辑清晰，页面也不错。但渐渐发现，其代码整体结构较为不合理，学习价值有限。修改起来有些麻烦，后来随着我的qq互联申请成功。索性还是使用<a href="http://www.loveteemo.com">青春博客</a>。青春博客前台页面很好看，但是本地调试有些问题。因为其前台后台需要qq互联登录，后台没有域名，设置了hosts也不行（qq互联升级了规则，），目前打算在青春博客的基础上，对其进行前后台的修复完善、重构。目前的版本我暂且称之为0.10版本。</p>
        <p><strong>域名</strong>：<a href="http://shem.xin/">http://shem.xin/</a></p>
        <p><strong>创建时间</strong>：{$systeminfo.sys_createtime}</p>
        <p><strong>评价</strong> ：<a href="{$Think.config.auth.baiduurl}" target="_blank">邀你点评</a></p>
        <p><strong>框架</strong> ：<a>{$Think.config.auth.framework}</a>
        </p><p><strong>语言</strong> ：PHP+MYSQL[utf-8]</p>
        <p><strong>声明</strong> ：非本站提供下载包造成任何损失,与本人无关！程序为开源,请自行修改.碰到问题请进群或者留言告诉我.</p>
        <p><strong>说明</strong> ：本程序为本人自己开发，且为先版本开源[<small style="color: red;">即每个版本比本版本低一个月</small>];喜欢的可以自己下载然后研究.^_^ </p>
        <p>程序组成为前台bootstrap3开发,兼容大部分移动设备,对其他浏览器的兼容未知,欢迎大神对本程序优化,请在可以优化的地方告诉我,我会一直改进的.谢谢！</p>
    </div>
    <div class="about-version">
        <h5>版本</h5>
        {volist name="verlist" id="ver"}
        <p><b style="width: 40px;display: block;float: left;margin-right: 10px;">{$ver.ver_bate}</b><small>{$ver.ver_addtime}</small>  {$ver.ver_text}</p>
        {/volist}
    </div>
</div>
{/block}